.table {
    .tableHeader {
        .htable {
            border: 1px solid #ebebeb;
            border-bottom: none;
            border-radius: 3px 3px 0 0;
            padding: 24px;
            padding-bottom: 0;

            height: 45px;

            .thead {
                height: 45px;

                .rhead {
                    height: 45px;

                    .thtitle {
                        border-bottom: 1px solid #ebeef5;

                        .htitle {
                            height: 100%;
                            padding: 0 18px;
                            line-height: 45px;
                            box-sizing: border-box;
                            font-size: 14px;
                            color: #909399;
                        }
                    }
                }
            }
        }
    }

    .tableContent {
        .ctable {
            border: 1px solid #ebebeb;
            border-top: none;
            border-radius: 0 0 3px 3px;
            padding: 24px;
            padding-top: 0;

            tbody {
                .ctr {
                    height: 45px;
                    transition: background 0.15s;
                    background: #fff;

                    &:hover {
                        background: rgba(247, 244, 244,0.65);
                    }

                    .thtitle {
                        border-bottom: 1px solid #ebeef5;

                        .htitle {
                            height: 100%;
                            padding: 0 18px;
                            line-height: 45px;
                            box-sizing: border-box;
                            font-size: 12px;
                            color: #909399;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .edit,
                            .delete {
                                width: 56px;
                                height: 28px;
                                border: 1px solid #dcdfe6;
                                border-radius: 3px;
                                color: #606266;
                                font-size: 12px;
                                line-height: 28px;
                                cursor: pointer;
                                background: #fff;
                                transition: all 0.15s;
                                font-size: 12px;

                                &:hover {
                                    color: #409eff;
                                }
                            }

                            .delete {
                                color: #fff;
                                background-color: #f56c6c;
                                border-color: #f56c6c;

                                &:hover {
                                    color: #fff;
                                    background-color: #f78a8a;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}