@import './common.scss';
@import './myIcon.css';

// 控制图标位置
.r-hotwind {
    padding-right: 10px;
}

/* 使用webkit内核的浏览器 */

input::-webkit-input-placeholder {
    font-size: $inputPlaceholder;
    color: $inputPlaceholderColor;
}

/* Firefox版本4-18 */

input::-moz-placeholder {
    font-size: $inputPlaceholder;
    color: $inputPlaceholderColor;
}

/* Firefox版本19+ */

input::-moz-placeholder {
    font-size: $inputPlaceholder;
    color: $inputPlaceholderColor;
}

/* IE浏览器 */

input:-ms-input-placeholder {
    font-size: $inputPlaceholder;
    color: $inputPlaceholderColor;
}

/* 去除input[type=number]右边的上下箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}