@import '../../../styles/common.scss';

.addGoods {
    width: 100%;

    .select,
    .input,
    .inputFile {
        float: left;
        margin: 10px 20px;
    }

    button {
        clear: both;
        display: block;

        &::before {
            content: "";
        }
    }
}