@import '../../../styles/common.scss';

.hotwind {
    width: 100%;
    height: 100%;

    .sidebar {
        width: 210px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        overflow: hidden;
        background: $sidebarBg;
        font-size: $sidebarFont;
        color: $sidebarColor;
    }

    .content {
        position: relative;
        // min-height: 100%;
        height: 100%;
        margin-left: 210px;

        .navbar {
            width: 100%;
            height: 84px;
            position: relative;
            z-index: 99;
        }

        .containers {
            width: 100%;
            // height: 100%;
            height: calc(100% - 84px);
            // padding-top: 84px;
            // margin-top: -84px;
            box-sizing: border-box;
            position: relative;
            z-index: 98;
            overflow: auto;
        }
    }
}